<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>DETALLE PERSONA</h1>
<div>Persona: {{persona.id}}</div>
<div>Nombre: {{persona.nombre}}</div>
<div>Apellido: {{persona.apellido}}</div>
<div>Email: {{persona.email}}</div>
<div>Numero : {{persona.numero}}</div>
<div>Domicilio :{{persona.calle}} {{persona.no_domicilio}}</div>
<div> Ciudad : {{persona.ciudad}}</div>
<div>Total: {{persona.total}}</div>
<div>Deuda: {{persona.deuda}}</div>
<div>Metodo de pago : {{persona.metodoPago}}</div>


<a href="{%url 'bienvenido'%}">Inicio</a>

</body>
</html>